* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #221f22;
    background-image: radial-gradient(#221d22, black);
    color: white;
}

#datetime {
    display: block;
    position: absolute;

    left: 0;
    top: 0;

    margin: 0.5rem 0.75rem;

    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-family: sans;
    font-weight: bold;
}

#datetime-time {
    color: rgba(255, 255, 255, 0.75);
    font-family: monospace;
}


#users {
    display: block;
    position: absolute;
    
    left: 50%;
    top: 20%;

    overflow: visible;

    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-property: margin;

    /* prevent start-up animation */
    margin-left: -6rem;
}

.user {
    display: inline-block;
    position: relative;
    top: 0;

    margin: 1rem;
    opacity: 0.4;

    transition-duration: 100ms;
    transition-timing-function: ease-out;
    transition-property: opacity;

    overflow: visible;
}

.user:hover {
    opacity: 0.7;
}

.user.selected, .user.selected:hover {
    opacity: 1;
}


.user-select {
    display: block;

    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;

    cursor: pointer;
    height: 10rem;
}

.user-image-wrap {
    position: relative;
    border-radius: 50%;

    margin: 0;
    padding: 0;
}

.user-image {
    position: absolute;
    
    left: 0;
    top: 0;

    border-radius: 50%;
    z-index: 10;
}

.user-initial {
    position: absolute;
    
    left: 0;
    top: 0.2rem;

    color: white;

    font-size: 5rem;
    text-align: center;
    font-family: sans;

    text-shadow: 0 0 0.25rem rgba(0, 0, 0, .5), 0 0 2rem black;
    z-index: 0;
}

.user-image-wrap, .user-image, .user-initial {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    font-size: 3.3rem;

    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-property: width height line-height font-size;
}

.selected .user-image-wrap, .selected .user-image, .selected .user-initial {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 4.8rem;
}


.user-name {
    display: block;
    width: 100%;

    position: relative;
    top: -1rem;

    text-align: center;
    font-family: sans;
    opacity: 0;

    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-property: font-size opacity top;
}
.user:hover .user-name {
    opacity: .6;
}
.user.selected .user-name {
    opacity: 1;
    
    top: 2rem;
    font-size: 130%;
}


#password-form {
    position: absolute;

    left: 0;
    right: 0;
    top: 60%;

    text-align: center;
}

#password, #login {
    background: rgba(255, 190, 255, 5%);
    color: rgba(255, 190, 255, 50%);

    border: 1px solid rgba(255, 190, 255, 30%);
    border-radius: 0.33rem;

    padding: 0.25rem 0.5rem;
}
#password:disabled {
    background: rgba(255, 190, 255, 1%);
    color: rgba(255, 190, 255, 20%);
}

#password {
    margin-right: 0;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    transition-duration: 150ms;
    transition-timing-function: ease-out;
    transition-property: border-color background-color color;
}
#password.error {
    animation: shake 0.2s ease-in-out 0s 2;
    border-color: #f77;
    color: #f77;
    background-color: rgba(255, 100, 100, 10%);
}

#login {
    margin-left: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    cursor: pointer;
}
#login:hover {
    color: rgba(255, 230, 255, 70%);
    background: rgba(255, 190, 255, 15%);
}


#sessions {
    display: block;
    position: absolute;

    left: 0;
    bottom: 0;

    margin: 0.5rem;
}


#sessions-btn {
    background-color: rgba(255, 210, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);

    border-width: 0;
    border-radius: 0.3rem;

    width: 12rem;
    padding: 0.5rem 1rem;

    text-align: left;

    overflow: hidden;
    cursor: pointer;
}
#sessions-btn:hover {
    background-color: rgba(255, 200, 255, 0.3);
    color: white;
}
#sessions-btn i {
    margin-right: 0.5rem;
}


#power-trigger {
    display: block;
    position: absolute;

    bottom: 0;
    right: 0;

    margin: 0.5rem;
}

#power-trigger-btn {
    background-color: transparent;
    border-color: transparent;

    border-radius: 0.25rem;
    padding: 0.33rem 0.5rem;

    cursor: pointer;

    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.75);
}
#power-trigger-btn:hover {
    background-color: rgba(255, 190, 255, 0.25);
    color: white;
}
#power-trigger-btn:active, .open #power-trigger-btn {
    background-color: rgba(255, 190, 255, 0.4);
    color: white;
}


#power-menu {
    position: absolute;
    display: none;

    right: 0;
    bottom: 0;

    margin: 0.25rem 0.5rem;
    padding-bottom: 3rem;
}
.open #power-menu {
    display: block;
}

#power-menu button {
    display: block;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);

    border-width: 0;
    border-radius: 0.3rem;

    padding: 0.25rem 0.5rem;
    margin: 0.4rem 0;
    width: 10rem;

    text-align: right;
    font-size: 1.1rem;

    cursor: pointer;
}

#power-menu button:hover {
    background-color: rgba(255, 200, 255, 0.3);
    color: white;
}

#power-menu button i {
    margin-left: 0.5rem;
}


@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 1rem; }
    75% { margin-left: -1rem; }
    100% { margin-left: 0rem; }
  }